main{
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2{
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 32.3px;
    font-weight: 700;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4,400px);
    grid-template-rows: repeat(2,600px);
    padding-top: 3rem;
}

.gallery figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h3{
    color: var(--primary);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.8px;
    font-weight: 100;
    padding-bottom: 0.8rem;
}

h4{
    color: var(--price);
    font-weight: 100;
    

}



@media screen and (max-width: 768px){
    main{
        padding: 2rem 0;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 11px;
    }

    h4{
        font-size: 10px
    }
    
    .gallery{
    grid-template-columns: repeat(2,300px);
    grid-template-rows: repeat(auto-fill,600px);
    gap: 16px;
    margin: 0 auto;
    }

    .gallery figure img {
        width: 300px;
    }

}